<div class="contato-container">

  <section class="info-section">
    
    <img src="/assets/img/contato.png" alt="Imagem de contato" class="contato-img">

    <mat-card class="info-card">
      <h2>Contatos</h2>
      <p><strong>Telefone:</strong> (81) 94002-8922</p>
      <p><strong>E-mail:</strong> unilar&#64;gmail.com</p>
      <p>
        <strong>Endereço:</strong><br>
        R. Carmelita Muniz de Araújo, 225 - Casa Caiada,<br>
        Olinda - PE, 53130-645
      </p>
    </mat-card>

  </section>

  <section class="social-section">
    <a href="https://www.facebook.com" target="_blank">
      <mat-icon svgIcon="facebook"></mat-icon>
    </a>

    <a href="#" target="_blank">
      <mat-icon svgIcon="whatsapp"></mat-icon>
    </a>

    <a href="https://www.instagram.com" target="_blank">
      <mat-icon svgIcon="instagram"></mat-icon>
    </a>
  </section>

</div>