.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.full {
  width: 100%;
}

.half {
  width: 48%;
  margin-right: 2%;
}

.btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px 0;
  font-size: 18px;
}
