.toolbar {
  padding: 0 20px;
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

.spacer {
  flex: 1 1 auto;
}

.user-area {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}